.row
  .col-xs-12
    %h1= t(".title", season: ENV["CURRENT_SEASON"])
.row
  - @games.each do |round, games|
    .col-xs-12.col-sm-4.col-md-4{class:  ("important" if round == ENV["CURRENT_SEASON"])}
      = t("jornada", round: round)
      %table.table.statistic
        = render partial: "games/game", locals: {games: games}
